Data/Aws/lista_s3.csv
Data/Alfresco/inventario_images_2026.csv
Data/Alfresco/inventario_images_2025.csv
Data/Alfresco/inventario_images_2024.csv
Data/Alfresco/inventario_images_2022.csv
Data/Alfresco/inventario_images_2021.csv
Data/Alfresco/inventario_images_2020.csv
Data/Alfresco/inventario_images_2019.csv
Data/Alfresco/inventario_images_2018.csv
.claude/settings.local.json
Data/Output/confronto-esempio.zip
